body {
  font-family: Montserrat;
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  letter-spacing: 4%;
  background-color: #f5f5f5;
  padding: 40px;
  display: flex;
  justify-content: flex-start;
}
.form > label,
input[type='number'],
fieldset,
button {
  width: 100%;
  box-sizing: border-box;
}
.form {
  width: 360px;
  padding: 24px;
  margin: 0 auto;
  background-color: #fff;
  border-radius: 8px;
  display: flex;
  flex-direction: column;
  gap: 16px;
  box-shadow: 0px 2px 8px rgba(0, 0, 0, 0.05);
}

.form > label {
  display: flex;
  flex-direction: column;
  gap: 8px;
  align-items: flex-start;
  color: #2e2f42;
  font-size: 16px;
}

input[type='number'] {
  padding: 8px 16px;
  border: 1px solid #808080;
  border-radius: 6px;
  font-size: 14px;
  outline: none;
  transition: border-color 250ms ease;
}

input[type='number']:hover,
input[type='number']:focus {
  border-color: #2e2f42;
}

/* FIELDSET */
fieldset {
  min-width: 100%;
  box-sizing: border-box;
  border: 1px solid #808080;
  border-radius: 6px;
  padding: 16px;
  display: flex;
  justify-content: space-around;
  align-items: flex-start;
  gap: 12px;
}

legend {
  padding: 0 6px;
  font-size: 14px;
  color: #2e2f42;
  margin-right: auto;
}

fieldset label {
  display: flex;
  align-items: center;
  gap: 8px;
  font-size: 14px;
  color: #2e2f42;
}

fieldset label + label {
  margin-left: 24px;
}

fieldset input {
  width: 100%;
}

button[type='submit'] {
  width: 100%;
  height: 40px;
  background-color: #4e75ff;
  color: white;
  font-size: 16px;
  border: none;
  border-radius: 8px;
  cursor: pointer;
  transition: background-color 250ms ease;
  margin: 0;
}

button[type='submit']:hover {
  background-color: #6c8cff;
}

button[type='submit']:disabled {
  background-color: #cfcfcf;
  cursor: default;
}
