body {
  font-family: Montserrat;
  font-weight: 500;
  font-size: 16px;
  line-height: 24px;
  letter-spacing: 4%;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 32px;
  padding: 20px;
}

#datetime-picker,
button {
  display: inline-block;
  vertical-align: middle;
  margin-top: 32px;
}

#datetime-picker {
  padding: 8px 16px;
  border: 1px solid #808080;
  border-radius: 6px;
  width: 272px;
  box-sizing: border-box;
  font-size: 14px;
  outline: transparent;
  background-color: transparent;
  transition: border-color 250ms ease;

  margin-right: 8px;
  color: #2e2f42;
}

#datetime-picker:hover,
#datetime-picker:focus {
  border-color: #000;
}

button {
  padding: 8px 16px;
  height: 40px;
  background-color: #cfcfcf;
  border-radius: 8px;
  border: none;
  cursor: pointer;
  transition: background-color 250ms ease;
}

button:enabled {
  background-color: #4e75ff;
  color: #fff;
}

button:enabled:hover {
  background-color: #6c8cff;
}

button:disabled {
  background-color: #cfcfcf;
  color: #ffffff;
  cursor: not-allowed;
}

.timer {
  display: flex;
  margin-top: 32px;
  gap: 24px;
  width: 346px;
  justify-content: space-between;
}

.field {
  display: flex;
  flex-direction: column;
  gap: 4px;
  align-items: center;
}

.value {
  font-size: 40px;
  line-height: 48px;
  color: #2e2f42;
}

.label {
  font-size: 16px;
  color: #2e2f42;
}
